.tablo {
    text-align: right;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(68, 148, 32);
}
.name {
    background-color: rgb(44, 44, 150);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: aqua;
}
.tablo-1 {
    text-align: right;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.kar {
    text-align: right;
    margin-left: 540px;
}
.kar-2 {
    text-align: right;
    margin-left: 540px;
}
.kar-3 {
    text-align: right;
    margin-left: 540px;
}
.kar-4 {
    text-align: right;
    margin-left: 540px;
}
.kar-5 {
    text-align: right;
    margin-left: 540px;
}
.kar-6 {
    text-align: right;
    margin-left: 540px;
}
.kar-7 {
    text-align: right;
    margin-left: 540px;
}
.kar-8 {
    text-align: right;
    margin-left: 540px;
}